--- yaml
layout: 'default'
title: 'Unknown Horizons - The Idea of Unknown Horizons'
---

#sidebar.hascontent
  #menu_sidebar
    ul
        li
            a(href='http://www.unknown-horizons.org/game/features/')
              span Features
          li
            a(href='http://www.unknown-horizons.org/game/system-requirements/')
              span System Requirements
          li
            a(href='https://github.com/nihathrael/uh-history/blob/master/report.pdf?raw=true')
              span History
#main
  h1 The idea of Unknown Horizons
  p
    | Our intention is to create an open source real-time economy simulation game with strategy elements in an isometric 2D engine.
  p
    | Unknown Horizons is based upon the Flexible Isometric Free Engine (or in short:
    a(href='http://fifengine.net/') FIFE
    | ). We work closely with the FIFE developers to integrate new features we developed for Unknown Horizons, but could be also useful for other games as well.
  p We are trying to create this game in our free time and just for fun.
  h2 Game play
  p
    | You start somewhere amidst an archipelago with nothing but a single ship and a handful of resources. Those need to suffice for you to found a rudimentary settlement.
    br
    | Soon, the first sailors will settle down  in your city and demand a living. Can you manage the short resources well enough to have your city grow steadily?
    br
    | Your inhabitants will see various different increments on their way to wealthy tradesmen  and each increment will bring up new demands and desires of your people. Take care about their needs, taxes are a linchpin of sucess in Unknown Horizons.
    br
    | Sooner or later you will have established a bright and big town. Other settlers in this new world will accompany and observe your progress. Now it is up to you to live in peace or maraud the peaceful. Will you end up as arbiter or tyrant? Decide with sageness and the tales to be told about you will never end.
  br
  .hr
  .right49
    p
      a(href='/game/#main') ^ Top
  .left49
    p
      | Previous page:
      a(href='http://www.unknown-horizons.org/', title='Welcome to Unknown Horizons') Welcome to Unknown Horizons
      br
      | Next page:
      a(href='http://www.unknown-horizons.org/game/features/', title='Features overview') Features overview
  hr.hr

