- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

doctype 5
html(lang="en")
head
   title= document.title
   != getBlock('meta').toHTML()
   != styles.toHTML()

body
   .container
      section#content.content!= content
      hr
      footer
         div= site.copyright
         div(style="font-style:italic; font-size: 12px") This website was last updated at #{site.date}

   // Scripts
   != scripts.toHTML()