- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

!!! 5
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
  head
    link(rel='alternate', type='application/rss+xml', title='war-ich.net - Feed', href='http://www.unknown-horizons.org/feed/')
    base(href='http://www.unknown-horizons.org/')
    link(rel='stylesheet', type='text/css', media='print', href='http://www.unknown-horizons.org/stylesheet.php?cssid=30&mediatype=print')
    link(rel='stylesheet', type='text/css', media='screen', href='http://www.unknown-horizons.org/stylesheet.php?cssid=46&mediatype=screen')
    link(rel='stylesheet', type='text/css', media='screen', href='http://www.unknown-horizons.org/stylesheet.php?cssid=47&mediatype=screen')
    link(rel='stylesheet', type='text/css', media='screen', href='http://www.unknown-horizons.org/stylesheet.php?cssid=48&mediatype=screen')
    link(rel='stylesheet', type='text/css', media='screen', href='http://www.unknown-horizons.org/stylesheet.php?cssid=31&mediatype=screen')
    link(rel='stylesheet', type='text/css', href='http://www.unknown-horizons.org/stylesheet.php?cssid=45')
    link(rel='stylesheet', type='text/css', href='http://www.unknown-horizons.org/stylesheet.php?cssid=50')
    != styles.toHTML()
    link(rel='start', title='Welcome to Unknown Horizons', href='http://www.unknown-horizons.org/')
    link(rel='next', title='The idea of Unknown Horizons', href='http://www.unknown-horizons.org/game/')
    link(rel='icon', href='favicon.ico', type='image/ico')
    link(rel='shortcut icon', href='favicon.ico')
    title= document.title
    != getBlock('meta').toHTML()

  body
    #pagewrapper
      ul.accessibility
        li
          a(href='/#menu_vert', title='Skip to navigation', accesskey='n') Skip to navigation
        li
          a(href='/#main', title='Skip to content', accesskey='s') Skip to content
      hr.accessibility
      #search
        form#cntnt01moduleform_1.cms_form(method='get', action='http://www.unknown-horizons.org/')
          .hidden
            input(type='hidden', name='mact', value='Search,cntnt01,dosearch,0')
            input(type='hidden', name='cntnt01returnid', value='114')
          label(for="cntnt01searchinput") Search
          input#cntnt01searchinput(type='text', name='cntnt01searchinput', size='20', maxlength='50', value='Enter Search...', onfocus='if(this.value==this.defaultValue) this.value=\'\';', onblur='if(this.value==\'\') this.value=this.defaultValue;')
          input#search_button(src='uploads/images/oa_template/siegel.png', name='submit', type='image')
      #navi_global
        ul
          li
            a(href='http://sourceforge.net/project/project_donations.php?group_id=255602')
              span Donate
          li
            a(href='http://www.unknown-horizons.org/imprint/')
              span Imprint
      #header
        h1
          a(href='http://www.unknown-horizons.org/', title='Welcome to Unknown Horizons') Unknown Horizons
        hr.accessibility
      #menu_vert
        h2.accessibility Navigation
        #menuwrapper
          ul#primary-nav
            li.menuactive
              a.menuactive(href='http://www.unknown-horizons.org/')
                span Home
            li.menuparent
              a.menuparent(target='_self', href='http://www.unknown-horizons.org/game/')
                span About
            li
              a(href='http://www.unknown-horizons.org/download/')
                span Downloads
            li.menuparent
              a.menuparent(href='http://www.unknown-horizons.org/media/screenshot-gallery/')
                span Media
            li.menuparent
              a.menuparent(href='http://www.unknown-horizons.org/get-involved/')
                span Get involved
            li
              a(href='http://www.unknown-horizons.org/support/')
                span Support
            li
              a(href='http://forum.unknown-horizons.org/')
                span Forum
          .clearb
        hr.accessibility
      .breadcrumbs
        | You are here:
        span.lastitem Home
        hr.accessibility

      section#content.content!= content

      hr
      #footer
        div(style='float: left; margin-top: 10px;')
          | © The Unknown Horizons Developers 2011
          br
          | This site is powered by CMS Made Simple
          br
        div(style='float: left; margin-top: 10px;')
        div(style='float: right;')
          a(href='http://www.wingware.com/', target='_blank')
            img(src='uploads/images/oa_template/footer_wingide.jpg', alt='', width='117', height='51')
          a(href='http://www.fifengine.de', target='_blank')
            img(src='uploads/images/oa_template/footer_fife.jpg', alt='', width='112', height='51')
    //
       Piwik
    script(type='text/javascript').
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.unknown-horizons.org/" : "http://stats.unknown-horizons.org/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    script(type='text/javascript').
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    noscript
      p
        img(src='http://stats.unknown-horizons.org/piwik.php?idsite=1', style='border: 0;', alt='')
    //
       End Piwik Tag
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4664731-7']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    // Scripts
    != scripts.toHTML()